body {
    background-color: blanchedalmond;
    color: black;
    font: 16px "consolas";
    font-weight: bold;
}

#page {
    text-align: center;
    background-color: white;
    width: 800px;
    min-height: 830px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
    
}

#teraflonkheader {
    width: 60%;
    height: auto;
    padding-top: 20px;
    
}

#terakitty {
    width: auto;
    height: 75px;
    padding-top: 60px;
    padding-bottom: 0px;
}

#quote {
    font: 12px "lucida sans unicode";
    font-style: italic;
    padding-bottom: 40px;
}

a {
    color: saddlebrown; text-decoration: none;
}

a:visited {
    color: saddlebrown;
}

a:hover {
    color: darkorange;
}

.footer {
    position: relative;
    top: 29px;
}