<!DOCTYPE html>
<html>

<head>
  
    <title>★TERAFLONK★</title>
    <link rel="stylesheet" type="text/css" href="template.css"><link rel=icon href=http://i.cubeupload.com/hMuhkg.png>

</head>
    
    
<body>
    
<div id="page">

        <img id="teraflonkheader" src="pictures/teraflonkheader.png" alt="TERAFLONK">
        
    <div id="flesh">
    
        <p><a href="index.html";>←Home</a></p>
        
        
            <!-- All yer stuff goes here -->
        
        
    </div>
            

    <div id="padder"></div>
        
</div>
    
    
    <footer>
        
        <p id="quote">Powered by a secret.</p>
    
    </footer>
    
</body>
</html>